#CLEAN UP AT SOME POINT
PROXY_SCRIPT_NAME="server-proxy.py"
PROXY_SERVICE_NAME="mc-server-proxy.service"
PROXY_SCRIPT_INSTALL_DIR="/opt/mc-server-proxy"
PROXY_SERVICE_INSTALL_DIR="/etc/systemd/system"

SERVER_SCRIPT_NAME="server-regulator.py"
SERVER_SCRIPT_INSTALL_DIR="/opt/mc-server-regulator"
SERVER_LOG_OUTPUT="/var/log/mc-server-regulator.log"
SERVER_DOCKER_DIR="/snap/bin/docker"
SERVER_PYTHON_DIR="/usr/bin/python3"
TIMESTAMP_FILE_PATH="/run/mc-server-regulator-timestamp"
SERVER_DOMAIN=""

ENVIRONMENTAL_VARIABLES_FILE=".env"

SERVER_DOCKER_CONTAINER=""
SERVER_MC_RCON_PASSWORD=""
SERVER_MAC_ADDRESS="1"
SERVER_PORT="25565"
SERVER_IP=""
COOLDOWN_PERIOD="30"
TIMEOUT_PERIOD="30"
SERVER_BOOT_PERIOD="300"
LISTEN_TIMEOUT="60"
CUSTOM_KICK_MESSAGE="§eThe server is waking up... §aPlease try again in 2 minutes!"
SERVER_MC_RCON_PASSWORD=""
