[Unit]
Description=Minecraft Gatekeeper Proxy
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=__INSTALL_DIR__
EnvironmentFile=__ENVIRONMENT_FILE_PATH__
ExecStart=__INSTALL_DIR__/venv/bin/python __INSTALL_DIR__/__SCRIPT_NAME__
Restart=on-failure

[Install]
WantedBy=multi-user.target
