[Unit]
Description=Minecraft Gatekeeper Service
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=gal
Restart=always
WorkingDirectory=/opt/mc-server-proxy/
ExecStart=/opt/mc-server-regulator/venv/bin/python /opt/mc-server-proxy/server-proxy.py
